@use './variables' as *;

:root {
  --header-h: 0; // viene settata in automatico da ResizeObserver in HeaderApp
}

body {
  font-family: $font-stack;
}

.bg-body {
  background-color: $bg-color !important;
}